@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: calc(1vw + 1.5rem);
}
h2 {
    font-size: calc(1vw + 1.3rem);
  }

h3{
  font-size: calc(1vw + 1.2rem);
}

p {
    font-size: calc(1vw + 0.2rem);
}

@media (max-width: 1399.98px) {
    p {
        font-size: calc(1vw + 0.4rem);
    }
}

@media (max-width: 1199.98px) {
    p {
        font-size: calc(1vw + 0.6rem);
    }
}

@media (max-width: 991.98px) {
    p {
        font-size: calc(1vw + 0.8rem);
    }
}

@media (max-width: 767.98px) {
    p {
        font-size: calc(1vw + 0.9rem);
    }
}

@media (max-width: 575.98px) {
    p {
        font-size: calc(1vw + 1rem);
    }
    h1,
    h2,
    h3,
    h4,
    p {
        text-align: center;
    }
}
