$unit: 'rem';

/**
 * Por convenção os nomes das cores devem começar com
 * dois traços (--), ao estilo das variáveis CSS.
 */
$colors: (
  --primary: #1d874a,
  --secondary: #7f392c,

  --white: #fff,
  --black: #1b1b1b,

  --green-100: #1d874a,
  --yellow-100: #e0d0a6,
  --blue-100: #172852,
  --red-100: #7f392c,

  // Adicione mais cores abaixo...
  // --blue-100: #0c53bd,
);


$breakpoints: (
  sm: 576,
  md: 768,
  lg: 992,
  xl: 1200,
  xxl: 1400,
);
